@font-face {
    font-family: 'Helvetica Neue Cyr Thin';
    src: url('/src/font/HelveticaNeueCyr-Thin.ttf');
    src: url('/src/font/HelveticaNeueCyr-Thin.ttf') format('embedded-opentype'),
    url('/src/font/HelveticaNeueCyr-Thin.ttf') format('woff'),
    url('/src/font/HelveticaNeueCyr-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
body{
    font-family: 'Helvetica Neue Cyr Thin';
}
a:hover{
    text-decoration: none !important;
}
ul{
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
}
.header__search{
    padding: 12px 0px 12px 25px;
    width: 460px;
    height: 46px;
    background-color: #F8F8F8;
    border: solid 1px #F2F2F2;
    border-radius: 50px;
}
.header__item{
    margin-left: 25px;
}
.header__link{
    color: black; 
}
.search-wrapper{
    position: relative;
}
.search-button{
    position: absolute;
    right: 10px;
    top: 8px;
    border: none;
    background-color: #F8F8F8;
}
.main-nav{
    background-color: #FFD800;
    
}
.main-nav__item{
  padding: 17px;
}
.main-nav__item:hover{
    background-color: #FFCE00;
}
.main-nav__item:hover a{
    color: black;
}
.main-nav__item a{
    color: black;
}
.main-nav__item:hover .sub-main-nav__list{
    display: block;
}
.sub-main-nav__item:hover .sub-sub-main-nav__list{
    display: block;
}
.sub-main-nav__item:hover a{
    text-decoration: none;
    color: black;
}
.main-nav__list li{
    position: relative;
}
.sub-main-nav__list{
    display: none;
    min-width: 260px;
    position: absolute;
    left: 0;
    top: 60px;   
    padding-top: 60px;
}
.sub-main-nav__item{
    position: relative;
    padding: 20px 0 25px 20px;
    background-color: #fff;
    z-index: 10;
}
.sub-main-nav__item:hover{
    background-color: #F2F2F2;
    z-index: 6;
}
.sub-main-nav__list a{
    color: black;
    font-size: 14px;
    margin-left: 14px;
}
.sub-sub-main-nav__list{
    display: none;
    min-width: 360px;
    column-count: 2;
    column-gap: 0;
    position: absolute;
    left: 260px;
    top: 0px;   
}
.sub-sub-main-nav__item{
    background-color: #fff;
    padding: 10px;
}
.sub-sub-main-nav__item:hover{
    background-color: #F2F2F2;
    z-index: 6;
}
.sub-sub-main-nav__list a{
    color: black;
    font-size: 14px;
    margin-left: 14px;
}
.main-nav__item{
    font-size: 16px;
}
.banner__block{
    width: auto;
    margin: 0 auto;
    height: 350px;
    background-image: url('../src/img/comp.jpg');
    background-repeat: no-repeat;
   
}
.banner__text-wrapper{
    width: 180px;
    height: 200px;
    padding-top: 65px;
    padding-left: 150px;
    box-sizing: content-box;
}
.banner__text-wrapper h3{
    font-size: 20px;
}
.banner__text-wrapper span{
    font-size: 50px;
}
.banner__img{
    padding-left: 100px;
    padding-top: 65px;
}
.categories__item{
    position: relative;
    margin: 15px;
}
.categories__list{
    width: 100%;
}
.categories__item img{
    filter: brightness(55%);
    border-radius: 20px;
}
.categories__link{
    position: absolute;
    left: 0;
    color: white;
    top: 45%;
    width: 100%;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
}
.goods__item{
    width: 240px;
    margin-bottom: 30px;
    border: 2px solid #F2F2F2;
}
.goods__img{
    width: 219px;
    display: block;
    margin: 0 auto;
    height: 200px;
}
.goods__card-title{
    max-width: 200px;
    height: 48px;
}
.goods__wrapper{
   flex-wrap: wrap;
}
.goods__price{
    color: red;
    font-size: 20px;
    font-weight: bold;
}
.goods__price span{
    color: black;
    margin-left: 5px;
}
.goods__buy-button{
    display: block;
    border:none;
    padding-top: 17px;
    padding-bottom: 17px;
    border-top: 2px solid #F2F2F2;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
}
.goods__title, .categories__title, .brands__title{
    font-size: 26px;
}
.news__item h4{
    font-size: 20px;
    width: 190px;
    height: 70px;  
    margin: 37px 0px 21px 25px;
}
.news__item p{
    margin-left: 25px;
}
.news__item{
    margin-left: 30px;
}
.brands{
    background-color: #F2F2F2;
    padding-top: 85px;
    padding-bottom: 85px;
}
.news{
    padding-top: 85px;
    padding-bottom: 85px;
}
.fa-arrow-right{
    color: red;
}
.number{
    background-color: #1D1D1D;
}
.number-wrapper p{
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}
.footer{

padding-top: 85px;

    background-color: #141414;
    color: white;
}
.footer__list{
flex-wrap: wrap;

}
.footer__item{
margin-bottom: 42px;
   width: 230px;
}
.copyright{
   padding-top: 40px;
   margin-top: 80px;
  border-top: 1px solid #1D1D1D;
}
.slick-arrow{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 40%;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;     
}
.fa-angle-right{
    right: 15px;
    z-index: 5;
    cursor: pointer;
}
.fa-angle-left{
    left: 25px;
    z-index: 5;
    cursor: pointer;
}
.slider .fa{
font-size: 100px;
opacity: 0.8;
}
.brands__left{
    left: -40px;
}
.brands__right{
    right: -40px;
}
.categories__left{
    left: -40px;
}
.categories__right{
    right: -60px;
}