@font-face {
    font-family: 'Helvetica Neue Cyr Thin';
    src: url('/src/font/HelveticaNeueCyr-Thin.ttf');
    src: url('/src/font/HelveticaNeueCyr-Thin.ttf') format('embedded-opentype'),
    url('/src/font/HelveticaNeueCyr-Thin.ttf') format('woff'),
    url('/src/font/HelveticaNeueCyr-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
body{
    font-family: 'Helvetica Neue Cyr Thin';
}
ul{
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
}
.header__search{
    padding: 12px 0px 12px 25px;
    width: 460px;
    height: 46px;
    background-color: #F8F8F8;
    border: solid 1px #F2F2F2;
    border-radius: 50px;
}
.header__item{
    margin-left: 25px;
}
.header__link{
    color: black; 
}
.search-wrapper{
    position: relative;
}
.search-button{
    position: absolute;
    right: 10px;
    top: 8px;
    border: none;
    background-color: #F8F8F8;
}
.main-nav{
    background-color: #FFD800;
    padding-top: 17px;
    padding-bottom: 14px;
}
.main-nav__item{
    font-size: 16px;
}
.banner__block{
    width: 1000px;
    margin: 0 auto;
    height: 500px;
    background-image: url(/src/img/Component\ 1\ –\ 1.jpg);
}
.categories__item{
    position: relative;
    margin: 15px;
}
.categories__list{
    width: 100%;
}
.categories__item img{
    filter: brightness(55%);
    border-radius: 20px;
}
.categories__link{
    position: absolute;
    left: 0;
    color: white;
    top: 45%;
    width: 100%;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
}
.goods__item{
    width: 240px;
    margin-bottom: 30px;
    border: 2px solid #F2F2F2;
}
.goods__img{
    width: 219px;
    display: block;
    margin: 0 auto;
    height: 200px;
}
.goods__card-title{
    max-width: 200px;
    height: 48px;
}
.goods__wrapper{
   flex-wrap: wrap;
}
.goods__price{
    color: red;
    font-size: 20px;
    font-weight: bold;
}
.goods__price span{
    color: black;
    margin-left: 5px;
}
.goods__buy-button{
    display: block;
    border:none;
    padding-top: 17px;
    padding-bottom: 17px;
    border-top: 2px solid #F2F2F2;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
}
.goods__title, .categories__title, .brands__title{
    font-size: 26px;
}
.brands{
    background-color: #F2F2F2;
    padding-top: 85px;
    padding-bottom: 85px;
}